{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
    <!--[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>
    <html class="no-js lt-ie9"> <![endif]-->
    <title>QSA Kuwait</title>
    <!--poppins font family-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
          rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href={%static "lib/bootstrap/css/bootstrap.min.css" %}>
    <!-- FontAwesome Files -->
    <link rel="stylesheet" href={%static "lib/font-awesome/css/font-awesome.min.css" %}>
    <!-- Slick carousel file -->
    <link rel="stylesheet" href={%static "lib/slick/css/slick.css" %}>
    <link rel="stylesheet" href={%static "lib/slick/css/slick-theme.css" %}>
    <!-- flipster carousel file -->
    <link rel="stylesheet" href={%static "lib/jquery-flipster/dist/jquery.flipster.min.css" %}>
    <!-- AOS Plugin file -->
    <link rel="stylesheet" href={%static "lib/aos/dist/aos.css" %}>
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- Main Stylesheet File -->
    <link rel="stylesheet" type="text/css" href={%static "css/main.css" %}>
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}


{% include 'partial/nav.html' %}


{% block content %} {% endblock %}


{% include 'partial/footer.html' %}


<!-------------------- START NEW JS -------------------->


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!--Jquery-->
<script src={%static "lib/jquery/jquery.min.js" %}></script>
<!--Bootstrap-->
<script src={%static "lib/bootstrap/js/bootstrap.min.js" %}></script>
<!-- Slick Plugin file -->
<script src={%static "lib/slick/js/slick.js" %}></script>
<!-- flipster carousel Plugin file -->
<script src={%static "lib/jquery-flipster/dist/jquery.flipster.min.js" %}></script>
<!-- AOS Plugin file -->
<script src={%static "lib/aos/dist/aos.js" %}></script>
<!-- Main javascript File -->
<script src={%static "js/main.js" %}></script>

<!-------------------- END NEW JS -------------------->

</body>

</html>
