
$sandriftColor: #a68676;
$greyColor: #4a4a4a;
$whiteColor: #FFF;
$blackColor: #000;

$CenturyGothic: 'CenturyGothic', Fallback, sans-serif;
$CenturyGothic_bold: 'CenturyGothic-Bold', Fallback, sans-serif;
$Jfflat: 'JFFLAT', Fallback, sans-serif;