.content-header{
    background-image: url('../img/content-bg.png');
    background-position: center;
    background-size: cover;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    @include xSmall{
        min-height: 600px;
    }
    @include xxSmall{
        min-height: 500px;
    }
    .header-info{
        color: $whiteColor;
        padding-inline-start: 118px;
        @include xLarge{
            padding-inline-start: 100px;
        }
        @include large{
            padding-inline-start: 90px;
        }
        @include medium{
            padding-inline-start: 70px;
        }
        @include small{
            padding-inline-start: 30px;
        }
        @include xSmall{
            padding-inline-start: 20px;
        }
        .heading{
            text-transform: capitalize;
            font-size: 62px;
            font-family: $CenturyGothic_bold;
            margin-bottom: 65px;
            @include large{
                font-size: 55px;
            }
            @include medium{
                font-size: 55px;
            }
            @include small{
                font-size: 50px;
                margin-bottom: 45px;
            }
            @include xSmall{
                font-size: 40px;
                margin-bottom: 40px;
            }
            @include xxSmall{
                font-size: 28px;
                margin-bottom: 20px;
            }
        }
        p{
            width: 60%;
            font-size: 18px;
            @include xSmall{
                width: 100%;
            }
            @include xxSmall{
                font-size: 15px;
            }
        }
    }
    .social-links{
        position: absolute;
        right: 120px;
        bottom: 60px;
        li{
            display: inline-block;
            padding: 0 20px;
            @include prefixer(transition, all .4s ease-in-out, webkit moz ms o);
            &:hover{
                transform: scale(1.1);
            }
            &:last-of-type{
                padding-inline-end: 0;
            }
            a{
                text-decoration: none;
                color: $whiteColor;
                font-size: 20px;
            }
        }
    }
}

.vision-mission{
    background-image: url('../img/pattern-bg.png');
    background-position: center;
    background-size: cover;
    padding-inline-start: 118px;
    padding-inline-end: 118px;
    padding-top: 115px;
    @include xLarge{
        padding-inline-start: 100px;
        padding-inline-end: 100px;
    }
    @include large{
        padding-inline-start: 90px;
        padding-inline-end: 90px;
        padding-top: 100px;
    }
    @include medium{
        padding-inline-start: 70px;
        padding-inline-end: 70px;
        padding-top: 45px;
    }
    @include small{
        padding-inline-start: 30px;
        padding-inline-end: 30px;
        padding-top: 35px;
    }
    @include xSmall{
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        padding-top: 25px;
    }
    .mission-section{
        margin-bottom: 80px;
        margin-top: 80px;
        @include medium{
            margin-top: 45px;
        }
        @include small{
            margin-top: 35px;
        }
        @include xSmall{
            margin-top: 25px;
        }
        .info{
            @include xLarge{
                padding-inline-start: 0;
                padding-inline-end: 80px;
            }
            @include large{
                padding-inline-start: 0;
                padding-inline-end: 50px;
            }
        }
    }
    .img-resp{
        @include large{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .order{
        @include medium{
            order: 2;
        }
        @include small{
            order: 2;
        }
        @include xSmall{
            order: 2;
        }
    }
    img{
        max-width: 100%;
    }
    .info{
        padding-inline-start: 80px;
        @include large{
            padding-inline-start: 50px;
        }
        @include medium{
            padding: 0;
        }
        @include small{
            padding: 0;
        }
        @include xSmall{
            padding: 0;
        }
        .heading{
            font-size: 65px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #000;
            text-transform: capitalize;
            @include large{
                font-size: 55px;
            }
            @include medium{
                justify-content: center;
            }
            @include small{
                justify-content: center;
                font-size: 50px;
            }
            @include xSmall{
                justify-content: center;
                font-size: 40px;
            }
            img{
                width: 65px;
                height: 65px;
                padding-inline-start: 20px;
                @include xxSmall{
                    width: 55px;
                    height: 55px;
                    padding-inline-start: 10px;
                }
            }
        }
        p{
            width: 80%;
            font-size: 18px;
            color: #4e4e4e;
            text-align: justify;
            @include xLarge{
                width: 100%;
            }
            @include large{
                width: 100%;
                font-size: 17px;
            }
            @include medium{
                width: 100%;
                text-align: center;
            }
            @include small{
                width: 100%;
                text-align: center;
            }
            @include xSmall{
                width: 100%;
                text-align: center;
                font-size: 17px;
            }
        }
    }
}
.objectives-section{
    background-image: url('../img/objectives.png');
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    @include large{
        min-height: 500px;
    }
    @include medium{
        min-height: 500px;
    }
    @include small{
        min-height: 500px;
    }
    @include xSmall{
        min-height: 500px;
    }
    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
    }
    .heading{
        font-size: 65px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $whiteColor;
        text-transform: capitalize;
        @include large{
            font-size: 55px;
        }
        @include medium{
            justify-content: center;
        }
        @include small{
            justify-content: center;
            font-size: 50px;
        }
        @include xSmall{
            justify-content: center;
            font-size: 40px;
        }
        img{
            width: 65px;
            height: 65px;
            padding-inline-start: 20px;
            @include xxSmall{
                width: 55px;
                height: 55px;
                padding-inline-start: 10px;
            }
        }
    }
    p{
        color: $whiteColor;
        width: 65%;
        font-size: 18px;
        text-align: justify;
        @include xLarge{
            width: 70%;
        }
        @include large{
            width: 85%;
            font-size: 17px;
        }
        @include medium{
            text-align: center;
            margin: 0 auto;
        }
        @include small{
            text-align: center;
            margin: 0 auto;
        }
        @include xSmall{
            text-align: center;
            margin: 0 auto;
            font-size: 17px;
            width: 90%;
        }
    }
}
.creative-service{
    background-color: #17181E;
    color: $whiteColor;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: 35px;
        margin: 0 10px;
        text-align: center;
        @include large{
            font-size: 32px;
        }
        @include medium{
            font-size: 28px;
        }
        @include small{
            font-size: 25px;
        }
        @include xSmall{
            font-size: 22px;
        }
        @include xxSmall{
            font-size: 20px;
        }
    }
}