.breadcrumb{
    color: $whiteColor;
    text-transform: capitalize;
    width: fit-content;
    background-color: transparent;
    font-size: 24px;
    @include large{
        font-size: 21px;
    }
    @include medium{
        font-size: 20px;
    }
    @include small{
        font-size: 18px;
    }
    @include xSmall{
        font-size: 17px;
    }
    @include xxSmall{
        font-size: 14px;
        padding: 0;
    }
    .breadcrumb-item{
        &:before{
            color: $whiteColor;
        }
        &.active{
            color: $whiteColor;
        }
    }
}
.contact-us-header{
    background-image: url('../img/contactus-bg.png');
    background-position: center;
    background-size: cover;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    @include xSmall{
        min-height: 600px;
    }
    @include xxSmall{
        min-height: 500px;
    }
    .header-info{
        color: $whiteColor;
        padding-inline-start: 118px;
        @include xLarge{
            padding-inline-start: 100px;
        }
        @include large{
            padding-inline-start: 90px;
        }
        @include medium{
            padding-inline-start: 70px;
        }
        @include small{
            padding-inline-start: 30px;
        }
        @include xSmall{
            padding-inline-start: 20px;
        }
        .heading{
            text-transform: capitalize;
            font-size: 62px;
            font-family: $CenturyGothic_bold;
            margin-bottom: 65px;
            @include large{
                font-size: 55px;
            }
            @include medium{
                font-size: 55px;
            }
            @include small{
                font-size: 50px;
                margin-bottom: 45px;
            }
            @include xSmall{
                font-size: 40px;
                margin-bottom: 40px;
            }
            @include xxSmall{
                font-size: 28px;
                margin-bottom: 20px;
            }
        }
        p{
            width: 60%;
            font-size: 18px;
            @include xSmall{
                width: 100%;
            }
            @include xxSmall{
                font-size: 15px;
            }
        }
    }
    .social-links{
        position: absolute;
        right: 120px;
        bottom: 60px;
        li{
            display: inline-block;
            @include prefixer(transition, all .4s ease-in-out, webkit moz ms o);
            &:hover{
                transform: scale(1.1);
            }
            &.twitter{
                padding: 0 40px;
            }
            a{
                text-decoration: none;
                color: $whiteColor;
                font-size: 20px;
            }
        }
    }
}

.get-in-touch{
    padding-inline-start: 118px;
    padding-top: 100px;
    padding-bottom: 60px;
    background-image: url('../img/contact-pattern-bg.png');
    background-size: cover;
    background-position: bottom;
    @include xLarge{
        padding-inline-start: 100px;
        padding-inline-end: 100px;
    }
    @include large{
        padding-inline-start: 90px;
        padding-inline-end: 90px;
    }
    @include medium{
        padding-inline-start: 70px;
        padding-inline-end: 70px;
        padding-top: 40px;
    }
    @include small{
        padding-inline-start: 30px;
        padding-inline-end: 30px;
        padding-top: 30px;
    }
    @include xSmall{
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        padding-top: 20px;
    }
    .heading{
        text-transform: capitalize;
        color: #000;
        font-size: 65px;
        margin-bottom: 25px;
        @include large{
            font-size: 55px;
        }
        @include medium{
            font-size: 55px;
        }
        @include small{
            font-size: 50px;
        }
        @include xSmall{
            font-size: 40px;
        }
        @include xxSmall{
            font-size: 28px;
        }
    }
    .header-p{
        color: $greyColor;
        font-size: 18px;
        width: 55%;
        @include large{
            width: 70%;
        }
        @include medium{
            width: 90%;
        }
        @include small{
            width: 90%;
        }
        @include xSmall{
            width: 100%;
        }
    }
    .contact-us-form{
        margin-top: 30px;
        label{
            color: #8c8a8a;
            text-transform: capitalize;
            font-size: 23px;
            font-family: Arial;
            @include large{
                font-size: 20px;
            }
            @include small{
                font-size: 20px;
            }
            @include xSmall{
                font-size: 17px;
            }
            span{
                text-transform: lowercase;
            }
        }
        .form-group{
            .form-control{
                border: none;
                border-radius: 0;
                height: 40px;
                width: 93%;
                box-shadow: none;
                @include small{
                    width: 100%;
                }
                @include xSmall{
                    width: 100%;
                }
            }
            textarea{
                height: 200px !important;
                resize: none;
            }
        }
        .btn-submit{
            background-color: $sandriftColor;
            color: $whiteColor;
            font-size: 18px;
            text-transform: uppercase;
            border-radius: 0;
            border: 1px solid $sandriftColor;
            width: 160px;
            height: 40px;
            line-height: 40px;
            padding: 0;
            margin-top: 30px;
            font-family: 'Poppins', sans-serif;
            @include prefixer (transition, all .4s ease-in-out, webkit moz o);
            &:hover{
                color: $sandriftColor;
                background-color: transparent;
            }
        }
    }
    .contact-info{
        .head-section{
            color: #000;
            margin-top: 30px;
            text-transform: capitalize;
            font-size: 20px;
            display: block;
            font-family: arial;
        }
        .desc{
            color: #959595;
            font-size: 20px;
            width: 80%;
            text-align: justify;
            @include xLarge{
                font-size: 18px;
            }
            @include large{
                font-size: 16px;
            }
            @include small{
                font-size: 18px;
            }
            @include xSmall{
                font-size: 18px;
            }
            @include xxSmall{
                width: 100%;
                font-size: 16px;
            }
        }
        .email{
            color: #595959;
            font-size: 20px;
            font-family: arial;
            @include large{
                font-size: 18px;
            }
            @include xSmall{
                font-size: 18px;
            }
        }
        .phone-num{
            color: #959595;
            font-size: 20px;
            margin-top: 15px;
            display: block;
            @include large{
                font-size: 16px;
            }
        }
    }
}
.map{
    iframe{
        height: 540px;
        width: 100%;
    }
}
.contact-any-time{
    background-color: #17181E;
    color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    padding-inline-start: 118px;
    padding-inline-end: 112px;
    @include xLarge{
        padding-inline-start: 100px;
        padding-inline-end: 100px;
    }
    @include large{
        padding-inline-start: 90px;
        padding-inline-end: 90px;
    }
    @include medium{
        padding-inline-start: 70px;
        padding-inline-end: 70px;
    }
    @include small{
        padding-inline-start: 30px;
        padding-inline-end: 30px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    @include xSmall{
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    p{
        font-size: 35px;
        margin: 0;
        @include xLarge{
            font-size: 27px;
        }
        @include large{
            font-size: 30px;
            padding-inline-end: 20px;
        }
        @include medium{
            font-size: 30px;
        }
        @include small{
            margin-bottom: 15px;
            font-size: 25px;
        }
        @include xSmall{
            margin-bottom: 15px;
            font-size: 25px;
        }
        @include xxSmall{
            margin-bottom: 15px;
            font-size: 20px;
        }
    }
    .contact-btn{
        color: $whiteColor;
        text-decoration: none;
        text-transform: uppercase;
        width: 170px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        font-size: 20px;
        background-color: $sandriftColor;
        border: 1px solid $sandriftColor;
        text-align: center;
        @include prefixer (transition, all .4s ease-in-out, webkit moz o);
        @include medium{
            width: 160px;
            height: 46px;
            line-height: 46px;
            font-size: 18px;
        }
        @include small{
            width: 160px;
            height: 43px;
            line-height: 43px;
            padding: 0;
            font-size: 19px;
            margin-bottom: 10px;
        }
        @include xSmall{
            width: 160px;
            height: 43px;
            line-height: 43px;
            padding: 0;
            font-size: 19px;
            margin-bottom: 10px;
        }
        &:hover{
            color: $sandriftColor;
            background-color: transparent;
        }
    }
}