
/*Start Header Section*/
#Layer{
    position: absolute;
}
.header-section{
    position: relative;
    background-color: #000;
    .header-slider{
        .slick-slide:not(.slick-active) {
            transition-delay: 800ms !important;
        }
        .slick-list {
            will-change: transform;
            @include small{
                will-change: auto;
            }
            @include xSmall{
                will-change: auto;
            }
        }
        .item{
            background-image: url('../img/header-bg.png');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $whiteColor;
            padding-inline-start: 118px;
            filter: drop-shadow(0px 10px 40px rgba(0,0,0,0.50) );
            @include xLarge{
                padding-inline-start: 100px;
            }
            @include large{
                padding-inline-start: 90px;
            }
            @include medium{
                padding-inline-start: 70px;
            }
            @include small{
                padding-inline-start: 30px;
            }
            @include xSmall{
                padding-inline-start: 20px;
            }
            @include xxSmall{
                padding-inline-end: 20px;
            }
            .slick-slider-dots{
                position: relative;
                font-size: 14px;
                margin-bottom: 30px;
                @include xxSmall{
                    margin-bottom: 10px;
                    margin-top: -40px;
                }
                .line{
                    width: 35px;
                    height: 1px;
                    display: inline-block;
                    background-color: $whiteColor;
                    margin: 0 5px;
                }
            }
            .slide-info{
                transform: translateY(150px);
                // transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
                transition-timing-function: ease-in-out;
                transition-duration: 1s;
                opacity: 0;
                transition-property: opacity,transform;
                .heading{
                    font-size: 72px;
                    font-family: $CenturyGothic_bold;
                    margin-bottom: 67px;
                    @include xLarge{
                        font-size: 60px;
                    }
                    @include large{
                        font-size: 55px;
                    }
                    @include medium{
                        font-size: 42px;
                        margin-bottom: 50px;
                    }
                    @include small{
                        font-size: 42px;
                        margin-bottom: 30px;
                    }
                    @include xSmall{
                        font-size: 36px;
                        margin-bottom: 30px;
                    }
                    @include xxSmall{
                        margin-bottom: 15px;
                    }
                }
                p{
                    font-size: 18px;
                    width: 45%;
                    @include medium{
                        width: 65%;
                    }
                    @include small{
                        width: 100%;
                    }
                    @include xSmall{
                        width: 100%;
                    }
                }
            }
            &.slick-current{
                .slide-info{
                    &.active{
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .view-more{
        position: absolute;
        top: 52%;
        right: 0;
        width: 100%;
        text-align: end;
        padding-bottom: 20px;
        @include small{
            top: 70%;
        }
        @include xSmall{
            top: 70%;
        }       
        @include xxSmall{
            top: 65%;
        }     
        &:after{
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-color: #928983;
            position: absolute;
            left: 0;
            bottom: -2px;
            @include prefixer (transition, all 2.7s ease-in, webkit moz o);
            @include small{
                display: none;
            }
            @include xSmall{
                display: none;
            }
        }
        &.border-animate{
            &:after{
                width: 100%;
            }
        }
        a{
            color: $whiteColor;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 18px;
            font-family: $CenturyGothic_bold;
            border-bottom: 2px solid #FFF;
            padding-bottom: 22px;
            padding-inline-end: 50px;
            padding-inline-start: 50px;
            position: relative;
            @include small{
                font-size: 16px;
                padding-bottom: 17px;
            }
            @include xSmall{
                font-size: 16px;
                padding-bottom: 17px;
            }
            &:hover{
                &:before{
                    width: 100%;
                }
            }
            &:before{
                position: absolute;
                display: block;
                content: '';
                width: 0;
                bottom: -1px;
                right: 0;
                border-bottom: 4px solid $sandriftColor;
                @include prefixer (transition, all .5s ease-in-out, webkit moz o);
            }
        }
    }
    .paging-social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -130px;
        position: relative;
        padding-inline-start: 50px;
        padding-inline-end: 120px;
        @include large{
            padding-inline-end: 50px;
        }
        @include medium{
            padding-inline-end: 50px;
        }
        @include small{
            flex-direction: column;
            padding: 0;
            margin-top: -160px;
        }
        @include xSmall{
            flex-direction: column;
            padding: 0;
            margin-top: -160px;
        }
        @include xxSmall{
            margin-top: -185px;
        }
        .pagination{
            width: 600px;
            height: 100px;
            background-color: $whiteColor;
            border-radius: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include large{
                width: 570px;
                height: 90px;
            }
            @include medium{
                width: 450px;
                height: 90px;
            }
            @include small{
                width: 450px;
            }
            @include xSmall{
                width: 350px;
            }
            @include xxSmall{
                width: 250px;
                flex-direction: column;
                height: fit-content;
                padding-top: 10px;
            }
            .next-text{
                padding-inline-start: 50px;
                color: #2b2b2b;
                text-transform: uppercase;
                @include medium{
                    padding-inline-start: 25px;
                }
                @include small{
                    padding-inline-start: 20px;
                }
                @include xSmall{
                    padding-inline-start: 20px;
                }
                @include xxSmall{
                    font-size: 16px;
                }
                span{
                    font-size: 14px;
                }
                p{
                    font-size: 18px;
                    @include medium{
                        font-size: 17px;
                    }
                }
            }
            .paging{
                padding-inline-end: 45px;
                @include medium{
                    padding-inline-end: 25px;
                }
                @include small{
                    padding-inline-end: 20px;
                }
                @include xSmall{
                    padding-inline-end: 10px;
                    width: 100px;
                }
                @include xxSmall{
                    width: auto;
                    padding: 0;
                }
                li{
                    display: inline-block;
                    font-size: 30px;
                    cursor: pointer;
                    @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                    &:hover{
                        transform: scale(1.1);
                    }
                    @include xSmall{
                        font-size: 23px;
                    }
                    &.next-slide{
                        padding-inline-start: 20px;
                    }
                }
            }
        }
        .social-links{
            @include small{
                padding-top: 15px;
            }
            @include xSmall{
                padding-top: 15px;
            }
            li{
                display: inline-block;
                padding: 0 20px;
                @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                &:hover{
                    transform: scale(1.1);
                }
                &:last-of-type{
                    padding-inline-end: 0;
                }
                a{
                    text-decoration: none;
                    color: $whiteColor;
                    font-size: 20px;
                }
            }
        }
    }
}
/*End Header Section*/

/*Start Vision & Mission Section*/
.vision-mission-section{
    background-image: url('../img/vision-bg.png');
    background-size: cover;
    background-position: bottom;
    padding-top: 115px;
    @include small{
        padding-top: 25px;
    }
    @include xSmall{
        padding-top: 20px;
    }
    .vision-mission-info{
        padding-top: 25px;
        padding-bottom: 135px;
        padding-inline-start: 118px;
        @include xLarge{
            padding-inline-start: 100px;
            padding-bottom: 100px;
        }
        @include large{
            padding-inline-start: 90px;
            padding-bottom: 65px;
        }
        @include medium{
            padding-inline-start: 70px;
            padding-bottom: 85px;
        }
        @include small{
            padding-inline-start: 30px;
            padding-bottom: 60px;
        }
        @include xSmall{
            padding-inline-start: 20px;
            padding-bottom: 60px;
        }
        .heading{
            font-size: 65px;
            margin-bottom: 60px;
            text-transform: capitalize;
            @include xLarge{
                font-size: 53px;
                margin-bottom: 30px;
            }
            @include large{
                font-size: 42px;
                margin-bottom: 30px;
            }
            @include medium{
                font-size: 45px;
                margin-bottom: 45px;
            }
            @include small{
                font-size: 50px;
                margin-bottom: 20px;
            }
            @include xSmall{
                font-size: 38px;
                margin-bottom: 20px;
            }
        }
        p{
            font-size: 18px;
            color: $greyColor;
            text-align: justify;
            margin-bottom: 50px;
            @include xLarge{
                margin-bottom: 40px;
            }
            @include large{
                font-size: 17px;
            }
            @include medium{
                width: 95%;
            }
            @include small{
                margin-bottom: 30px;
            }
            @include xSmall{
                font-size: 17px;
                margin-bottom: 25px;
                width: 95%;
            }
            @include xxSmall{
                font-size: 15px;
            }
        }
        .explore{
            text-transform: uppercase;
            color: $sandriftColor;
            text-decoration: none;
            padding: 0 25px;
            padding-bottom: 20px;
            border-bottom: 1px solid #000;
            font-family: $CenturyGothic_bold;
            position: relative;
            display: inline-block;
            &:hover{
                &:before{
                    width: 100%;
                }
            }
            &:before{
                position: absolute;
                display: block;
                content: '';
                width: 0;
                bottom: -1px;
                left: 0;
                border-bottom: 4px solid $sandriftColor;
                @include prefixer (transition, all .5s ease-in-out, webkit moz o);
            }
        }
    }
    .images{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-inline-end: 100px;
        position: relative;
        @include xLarge{
            padding-inline-end: 50px;
        }
        @include large{
            padding-inline-end: 50px;
        }
        @include medium{
            padding-bottom: 80px;
        }
        @include small{
            padding-bottom: 60px;
            padding-inline-end: 30px;
        }
        @include xSmall{
            flex-direction: column;
            padding: 0 10px;
        }
        img{
            max-width: 30%;
            @include xSmall{
                max-width: 100%;
                width: 100%;
            }
            &.img2{
                max-width: 36%;
                position: relative;
                right: 30px;
                bottom: 45px;
                @include xSmall{
                    max-width: 100%;
                    position: static;
                }
            }
            &.img3{
                position: relative;
                left: 10px;
                bottom: -45px;
                @include xSmall{
                    position: static;
                }
            }
        }
    }
    .img4{
        max-width: 300px;
        width: auto;
        position: absolute;
        right: 20px;
        bottom: -60px;
        @include xLarge{
            max-width: 250px;
            bottom: -41px;
        }
        @include large{
            max-width: 250px;
            bottom: 0;
        }
        @include medium{
            max-width: 250px;
            bottom: 0;
        }
        @include small{
            max-width: 200px;
            bottom: 0;
        }
        @include xSmall{
            display: none;
        }
    }
}
/*End Vision & Mission Section*/

/*Start Polls Section*/
.polls-section{
    background-color: #17181e;
    color: $whiteColor;
    padding: 10px 0;
    padding-inline-start: 118px;
    @include xLarge{
        padding-inline-start: 100px;
    }
    @include large{
        padding-inline-start: 90px;
    }
    @include medium{
        padding-inline-start: 70px;
    }
    @include small{
        padding-inline-start: 0;
    }
    @include xSmall{
        padding-inline-start: 0;
    }
    .content{
        width: 65%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include xLarge{
            width: 80%;
        }
        @include large{
            width: 90%;
        }
        @include medium{
            width: auto;
        }
        @include small{
            width: auto;
            flex-direction: column;
        }
        @include xSmall{
            width: auto;
            flex-direction: column;
        }
        .heading{
            color: $sandriftColor;
            font-size: 50px;
            @include large{
                font-size: 41px;
            }
            @include medium{
                font-size: 40px;
            }
            @include xxSmall{
                font-size: 36px;
            }
        }
        p{
            font-size: 22px;
            text-transform: uppercase;
            color: $whiteColor;
            margin: 0;
            @include xLarge{
                font-size: 20px;
            }
            @include large{
                font-size: 20px;
            }
            @include medium{
                font-size: 15px;
            }
            @include xSmall{
                font-size: 18px;
            }
            @include xxSmall{
                font-size: 16px;
            }
        }
        .radio-btns{
            text-transform: uppercase;
            display: flex;
            align-items: center;
            .radio-container {
                display: block;
                position: relative;
                padding-inline-start: 25px;
                margin-bottom: 0;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                @include medium{
                    padding-inline-start: 15px;
                    font-size: 19px;
                }
                &:first-of-type{
                    @include small{
                        padding: 0;
                    }
                    @include xSmall{
                        padding: 0;
                    }
                }
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    &:checked ~ .checkmark {
                        background-color: transparent;
                        &:after {
                            display: block;
                        }
                    }
                }
                .checkmark {
                    position: relative;
                    display: inline-block;
                    height: 18px;
                    width: 18px;
                    margin-inline-end: 4px;
                    background-color: transparent;
                    border: 1px solid $sandriftColor;
                    border-radius: 50%;
                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        top: 19%;
                        left: 19%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: $sandriftColor;
                    }
                }
            }
        }
        .vote{
            padding: 0;
            background-color: $sandriftColor;
            color: $whiteColor;
            text-transform: uppercase;
            height: 50px;
            width: 130px;
            line-height: 50px;
            border-radius: 0;
            margin-inline-start: 50px;
            border: 1px solid $sandriftColor;
            @include prefixer (transition, all .5s ease-in-out, webkit moz o);
            @include medium{
                height: 45px;
                width: 100px;
                line-height: 45px;
                margin-inline-end: 20px;
            }
            @include small{
                margin-inline-start: 0;
                margin-top: 20px;
            }
            @include xSmall{
                margin-inline-start: 0;
                margin-top: 20px;
            }
            &:hover{
                background-color: transparent;
            }
        }
        .progress-section{
            display: flex;
            align-items: center;
            color: $whiteColor;
            text-transform: uppercase;
            font-size: 22px;
            display: none;
            .progress{
                position: relative;
                height: 16px;
                width: 150px;
                background-color: rgba(166, 134, 118, .44);
                border-radius: 0;
                margin-inline-start: 10px;
                @include prefixer(box-shadow, 0px 0px 6px 2px rgba(166, 134, 118, 0.612), webkit moz ms o);
                .color{
                    position: absolute;
                    background-color: $sandriftColor;
                    width: 0px;
                    height: 16px;
                    @include prefixer(transition, all 2s ease-in-out, webkit moz ms o); 
                }
            }
        }
    }
}
/*End Polls Section*/

/*Start Our Services Section*/
.our-services{
    background-image: url('../img/services-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    @include large{
        padding-bottom: 50px;
    }
    @include small{
        padding-top: 30px;
    }
    @include xSmall{
        padding-top: 20px;
    }
    .flipster--wheel{
        @include large{
            padding-bottom: 50px;
        }
        @include medium{
            padding-bottom: 100px;
        }
        @include small{
            padding-bottom: 150px;
        }
        @include xSmall{
            padding-bottom: 250px;
        }
    }
    .heading{
        text-align: center;
        font-size: 65px;
        margin-bottom: 30px;    
        color: $whiteColor;
        text-transform: capitalize;
        @include xLarge{
            font-size: 60px;
        }
        @include large{
            font-size: 50px;
        }
        @include medium{
            font-size: 45px;
        }
        @include small{
            font-size: 50px;
        }
        @include xSmall{
            font-size: 36px;
        }
    }
    .services-slider{
        padding-bottom: 50px;
        @include small{
            padding-bottom: 100px;
        }
        @include xSmall{
            padding-bottom: 180px;
        }
        @include xxSmall{
            padding-bottom: 210px;
        }
        .items-container{
            li{
                position: relative;
                @include prefixer(transition, all .4s ease-in-out, webkit moz ms o);
                .video-src{
                    width: 230px;
                    height: 380px;    
                    object-fit: cover;            
                }
                .slide-text{
                    position: absolute;
                    bottom: -270px;
                    left: unset;
                    display: none;
                    right: -104%;
                    width: 675px;
                    text-align: center;
                    color: $whiteColor;
                    @include prefixer(transition, all .4s ease-in-out, webkit moz ms o);
                    @include xLarge{
                        width: 690px;
                    }
                    @include large{
                        bottom: -235px;
                        width: 690px;
                    }
                    @include medium{
                        bottom: -185px;
                        right: -100%;
                    }
                    @include small{
                        bottom: -184px;
                        right: -81%;
                        width: 600px;
                    }
                    @include xSmall{
                        width: 320px;
                        bottom: -200px;
                        right: -20%;
                    }
                    @include xxSmall{
                        width: 260px;
                        bottom: -200px;
                        right: -6%;
                    }
                    h4{
                        font-size: 24px;
                        font-family: $CenturyGothic_bold;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                        @include xxSmall{
                            font-size: 20px;
                        }
                    }
                    p{
                        margin: 0 auto;
                        font-size: 18px;
                        width: 60%;
                        line-height: 1.1;
                        @include medium{
                            width: 75%;
                        }
                        @include xSmall{
                            width: 100%;
                        }
                    }
                    .lets-start{
                        text-transform: uppercase;
                        font-size: 18px;
                        text-decoration: none;
                        color: $whiteColor;
                        font-family: $CenturyGothic_bold;
                        padding: 0 30px;
                        padding-top: 30px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #000;
                        letter-spacing: 2px;
                        display: inline-block;
                        position: relative;
                        &:hover{
                            &:before{
                                width: 100%;
                            }
                        }
                        &:before{
                            position: absolute;
                            display: block;
                            content: '';
                            width: 0;
                            bottom: -1px;
                            left: 0;
                            border-bottom: 4px solid #FFF;
                            @include prefixer (transition, all .5s ease-in-out, webkit moz o);
                        }
                    }
                }
                &.flipster__item--current{
                    .slide-text{
                        display: block;
                    }
                }
                &.flipster__item--past-2 .flipster__item__content {
                    -webkit-transform: rotateZ(-40deg) translate(-17%, 30%);
                    -ms-transform: rotate(-40deg) translate(-17%, 30%);
                    transform: rotateZ(-40deg) translate(-17%, 22%);
                }
                &.flipster__item--past-3 {
                    .flipster__item__content{
                        transform: rotateZ(-51deg) translate(-62%, 61%);
                    }
                }
                &.flipster__item--future-2 {
                    .flipster__item__content {
                        -webkit-transform: rotateZ(40deg) translate(17%, 22%);
                        -ms-transform: rotate(40deg) translate(17%, 22%);
                        transform: rotateZ(40deg) translate(17%, 22%);
                    }
                }
                &.flipster__item--future-3{
                    .flipster__item__content{
                        transform: rotateZ(51deg) translate(62%, 61%);
                    }
                }
                img{
                    width: 230px;
                    height: 380px;
                }
            }
        }
        .flipster__button--prev {
            top: 77%;
            left: 27%;
            font-size: 30px;
            opacity: 1;
            height: fit-content;
            outline: none;
            @include prefixer (transition, all .4s ease-in-out, webkit moz o);
            @include xLarge{
                top: 84%;
                left: 18%;
            }
            @include large{
                top: 82%;
                left: 15%;
            }
            @include medium{
                top: 82%;
                left: 0;
            }
            @include small{
                top: 81%;
                left: 5%;
                margin-left: 0;
                margin-right: 0;
            }
            @include xSmall{
                top: 98%;
            }
            @include xxSmall{
                margin-left: 0;
                margin-right: 0;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
        .flipster__button--next {
            top: 77%;
            right: 26%;
            font-size: 30px;
            opacity: 1;
            height: fit-content;
            outline: none;
            @include prefixer (transition, all .4s ease-in-out, webkit moz o);
            @include xLarge{
                top: 84%;
                right: 18%;
            }
            @include large{
                top: 82%;
                right: 15%;
            }
            @include medium{
                top: 82%;
                right: 0;
            }
            @include small{
                top: 81%;
                right: 5%;
                margin-left: 0;
                margin-right: 0;
            }
            @include xSmall{
                top: 98%;
            }
            @include xxSmall{
                margin-left: 0;
                margin-right: 0;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
/*End Our Services Section*/

/*Start Latest News Section*/
.latest-news{
    background-image: url('../img/news-bg.png');
    background-size: cover;
    background-position: center;
    padding-inline-start: 118px;
    position: relative;
    @include xLarge{
        padding-inline-start: 100px;
    }
    @include large{
        padding-inline-start: 90px;
    }
    @include medium{
        padding-inline-start: 70px;
    }
    @include small{
        padding-inline-start: 30px;
    }
    @include xSmall{
        padding-inline-start: 20px;
    }
    .paging{
        position: absolute;
        top: 43%;
        right: 20px;
        z-index: 2;
        @include medium{
            top: 75%;
        }
        @include small{
            top: 75%;
        }
        @include xSmall{
            top: 75%;
        }
        li{
            cursor: pointer;
            transform: rotate(90deg);
            padding: 10px 0;
            @include prefixer(transition, all .4s ease-in-out, webkit moz ms o);
            &:hover{
                transform: rotate(90deg) scale(1.1);
            }
            i{
                font-size: 30px;
                @include medium{
                    font-size: 25px;
                }
                @include small{
                    font-size: 22px;
                }
                @include xSmall{
                    font-size: 22px;
                }
            }
        }
    }
    .padding{
        padding-inline-end: 30px;
    }
    .lates-news-slider{
        padding-top: 140px;
        padding-bottom: 100px;
        @include large{
            padding-top: 80px;
            padding-bottom: 60px;
        }
        @include medium{
            padding-bottom: 50px;
            padding-top: 50px;
        }
        @include small{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        @include xSmall{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .news-info{
            .heading{
                color: $blackColor;
                font-size: 65px;
                margin-bottom: 70px;
                @include xLarge{
                    font-size: 60px;
                    margin-bottom: 30px;
                }
                @include large{
                    font-size: 55px;
                    margin-bottom: 30px;
                }
                @include medium{
                    font-size: 45px;
                    margin-bottom: 20px;
                }
                @include small{
                    font-size: 50px;
                    margin-bottom: 20px;
                }
                @include xSmall{
                    font-size: 36px;
                    margin-bottom: 20px;
                }
                a{
                    text-decoration: none;
                    color: $blackColor;
                }
            }
            span{
                color: $greyColor;
                font-size: 24px;
                font-family: $CenturyGothic_bold;
                @include medium{
                    font-size: 21px;
                }
                @include small{
                    font-size: 20px;
                }
                @include xSmall{
                    font-size: 20px;
                }
            }
            h4{
                font-family: $CenturyGothic_bold;
                font-size: 24px;
                color: $sandriftColor;
                text-transform: uppercase;
                margin-top: 30px;
                margin-bottom: 30px;
                @include xLarge{
                    font-size: 21px;
                }
                @include large{
                    font-size: 20px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                @include medium{
                    font-size: 20px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                @include small{
                    font-size: 20px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                @include xSmall{
                    font-size: 20px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                a{
                    color: $sandriftColor;
                    text-decoration: none;
                }
            }
            p{
                font-size: 18px;
                color: $greyColor;
                margin-bottom: 40px;
                width: 80%;
                @include medium{
                    font-size: 17px;
                    margin-bottom: 30px;
                    width: 93%;
                }
                @include xSmall{
                    font-size: 17px;
                    margin-bottom: 25px;
                    width: 100%;
                }
            }
            .more{
                color: $sandriftColor;
                font-family: $CenturyGothic_bold;
                font-size: 18px;
                border-bottom: 1px solid #000;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0 45px;
                padding-bottom: 16px;
                display: inline-block;
                position: relative;
                @include small{
                    font-size: 17px;;
                    padding-bottom: 12px;
                }
                @include xSmall{
                    font-size: 17px;
                    padding: 0px 35px;
                    padding-bottom: 10px;
                }
                &:hover{
                    &:before{
                        width: 100%;
                    }
                }
                &:before{
                    position: absolute;
                    display: block;
                    content: '';
                    width: 0;
                    bottom: -1px;
                    left: 0;
                    border-bottom: 4px solid $sandriftColor;
                    @include prefixer (transition, all .5s ease-in-out, webkit moz o);
                }
            }
        }
    }
    .paging-container{
        padding-bottom: 65px;
        display: flex;
        align-items: center;
        @include xSmall{
            padding-bottom: 10px;
        }
        .slick-slider-dots1{
            font-size: 48px;
            color: $blackColor;
            display: inline-block;
            @include large{
                font-size: 40px;
                padding-bottom: 30px;
            }
            @include medium{
                font-size: 35px;
            }
            @include small{
                font-size: 40px;
                padding-bottom: 35px;
            }
            @include xSmall{
                font-size: 30px;
            }
            .first{
                color: $greyColor;
                padding-inline-end: 10px;
            }
            .count{
                padding-inline-start: 10px;
            }
        }
        .view-link{
            display: inline-block;
            .view-all{
                text-decoration: none;
                color: $blackColor;
                font-size: 18px;
                font-family: $CenturyGothic_bold;
                text-transform: uppercase;
                padding-inline-start: 35px;
                display: flex;
                @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                @include medium{
                    font-size: 16px;
                }
                @include small{
                    font-size: 16px;
                }
                @include xSmall{
                    font-size: 16px;
                }
                &:hover{
                    color: $sandriftColor;
                }
                i{
                    padding-inline-start: 10px;
                    font-size: 28px;
                    @include small{
                        font-size: 25px;
                    }
                    @include xSmall{
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .lates-news-slider-nav{
        height: 100%;
        .item{
            width: 120px;
            margin: 40px;
            font-size: 0;
            transform: skewX(-4deg);
            text-align: center;
            text-decoration: none;
            @include xLarge{
                margin: 20px 10px;
            }
            @include large{
                margin: 20px 10px;
            }
            @include small{
                margin: 20px 0;
            }
            @include xSmall{
                margin: 20px 0;
            }
            .fold{
                display: inline-block;
                width: 580px;
                height: 350px;
                position: relative;
                background: url('../img/news4.png');
                background-size: contain !important;
                background-position: 0px -21px !important;
                background-repeat: no-repeat !important;
                @include prefixer(box-shadow, 0px -18px 36px -16px rgba(0,0,0,0.75), webkit moz ms o);
                @include xLarge{
                    width: 465px;
                    height: 300px;
                    @include prefixer(box-shadow, 0px -18px 36px -25px rgba(0,0,0,0.75), webkit moz ms o);
                }
                @include large{
                    width: 400px;
                    height: 325px;
                    background-size: 100% 100% !important;
                    background-position: 0px -33px !important;
                    @include prefixer(box-shadow, 0px -18px 36px -25px rgba(0,0,0,0.75), webkit moz ms o);
                }
                @include small{
                    width: 484px;
                    height: 291px;
                    @include prefixer(box-shadow, 0px -12px 36px -25px rgba(0,0,0,0.75), webkit moz ms o);
                }
                @include xSmall{
                    width: 340px;
                    height: 205px;
                    @include prefixer(box-shadow, 0px -12px 36px -25px rgba(0,0,0,0.75), webkit moz ms o);
                }
                @include xxSmall{
                    width: 90%;
                    height: 118px;  
                    box-shadow: none;     
                    background-position: center !important;         
                }
                .first{
                    background: url('../img/news4.png');
                    background-size: cover !important;
                    background-position: 0 2% !important;
                    background-repeat: no-repeat !important;
                    display: block;
                    width: 100%;
                    height: 34px;
                    border-radius: 50%;
                    position: absolute;
                    top: -15px;
                    @include xxSmall{
                        display: none;
                    }
                }
                .sec{
                    display: block;
                    width: 100%;
                    height: 20px;
                    border-radius: 50%;
                    position: absolute;
                    background: #f3f3f3;
                    bottom: 12px;
                    @include xLarge{
                        bottom: 30px;
                    }
                    @include xxSmall{
                        display: none;
                    }
                }
            }
        }
    }
}
/*End Latest News Section*/

/*Start Site visitors Section*/
.site-visitors-section{
    background-image: url('../img/visitors-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    padding-inline-start: 118px;
    padding-inline-end: 100px;
    border-bottom: 10px solid transparent;
    border-image: url('../img/border.png') 30 round;
    @include xLarge{
        padding-inline-start: 100px;
        padding-inline-end: 50px;
    }
    @include large{
        padding-inline-start: 90px;
        padding-inline-end: 50px;
    }
    @include medium{
        padding-inline-start: 70px;
        padding-inline-end: 50px;
        flex-direction: column;
    }
    @include small{
        padding-inline-start: 30px;
        flex-direction: column;
        padding-inline-end: 50px;
    }
    @include xSmall{
        padding-inline-start: 20px;
        flex-direction: column;
        padding-inline-end: 20px;
    }
    .heading{
        color: $blackColor;
        font-size: 65px;
        @include xLarge{
            font-size: 60px;
        }
        @include large{
            font-size: 40px;
        }
        @include medium{
            font-size: 45px;
            text-align: left;
            width: 100%;
            margin-bottom: 20px;
        }
        @include small{
            font-size: 50px;
            text-align: left;
            width: 100%;
            margin-bottom: 20px;
        }
        @include xSmall{
            font-size: 36px;
            text-align: left;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .visitors{
        display: flex;
        justify-content: space-between;
        @include xxSmall{
            flex-direction: column;
            align-items: center;
        }
        .visitors-count{
            width: 235px;
            height: 215px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $whiteColor;
            @include prefixer(box-shadow, 2px 6px 12px 1px rgba(0,0,0,0.23), webkit moz ms o);
            @include xLarge{
                width: 200px;
                height: 185px;
            }
            @include large{
                width: 180px;
                height: 170px;
            }
            @include medium{
                width: 200px;
                height: 190px;
            }
            @include small{
                width: 160px;
                height: 160px;
            }
            @include xSmall{
                width: 120px;
                height: 120px;
            }
            @include xxSmall{
                width: 170px;
                height: 135px;
            }
            &:nth-of-type(2){
                margin: 0 70px;
                @include xLarge{
                    margin: 0 50px;
                }
                @include large{
                    margin: 0 35px;
                }
                @include medium{
                    margin: 0 35px;
                }
                @include small{
                    margin: 0 20px;
                }
                @include xSmall{
                    margin: 0 10px;
                }
                @include xxSmall{
                    margin: 10px 0;
                }
            }
            .count{
                font-size: 72px;
                font-family: $CenturyGothic_bold;
                color: $greyColor;
                padding-bottom: 40px;
                @include xLarge{
                    padding-bottom: 20px;
                    font-size: 65px;
                }
                @include large{
                    font-size: 55px;
                    padding-bottom: 20px;
                }
                @include medium{
                    font-size: 55px;
                    padding-bottom: 25px;
                }
                @include small{
                    font-size: 55px;
                    padding-bottom: 15px;
                }
                @include xSmall{
                    font-size: 35px;
                    padding-bottom: 10px;
                }
            }
            .name{
                font-size: 18px;
                font-family: $CenturyGothic_bold;
                color: $sandriftColor;
                @include xSmall{
                    font-size: 13px;
                }
            }
        }
    }
}
/*End Site visitors Section*/

/*Start Friendly Sites Section*/
.friendly-sites{
    background-image: url('../img/visitors-bg.png');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    .header-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline-end: 180px;
        @include medium{
            padding-inline-end: 50px;
        }
        @include small{
            padding-inline-end: 30px;
        }
        @include xSmall{
            padding-inline-end: 20px;
        }
        .heading{
            color: $blackColor;
            font-size: 65px;
            padding-inline-start: 118px;
            margin-bottom: 30px;
            @include xLarge{
                padding-inline-start: 100px;
                font-size: 60px;
            }
            @include large{
                padding-inline-start: 90px;
                font-size: 45px;
            }
            @include medium{
                padding-inline-start: 70px;
                font-size: 45px;
            }
            @include small{
                padding-inline-start: 30px;
                font-size: 50px;
            }
            @include xSmall{
                padding-inline-start: 20px;
                font-size: 36px;
            }
        }
        .paging{
            display: flex;
            li{
                cursor: pointer;
                @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                &:hover{
                    transform: scale(1.1);
                }
                i{
                    font-size: 35px;
                    padding: 0 15px;
                    @include small{
                        font-size: 30px;
                    }
                    @include xSmall{
                        font-size: 24px;
                        padding: 0px 5px;
                    }
                }
            }
        }
    }
    .friendly-sites-slider{
        .site-item{
            padding: 0 25px;
            text-decoration: none;
            text-align: center;
            img{
                width: 100%;
            }
            span{
                color: $greyColor;
                font-size: 18px;
                padding-top: 15px;
                display: block;
            }
        }
    }
}
/*End Friendly Sites Section*/

@keyframes motion-blur {
    0% {
        filter: url(#blur0);
        transform: scale(1, 1);
    }
    15% {
        filter: url(#blur1);
        transform: scale(1, 1);
    }
    30% {
        filter: url(#blur2);
        transform: scale(1, 1);
    }
    45% {
        filter: url(#blur3);
        transform: scale(1.1, 1);
    }
    60% {
        filter: url(#blur4);
        transform: scale(1.2, 1);
    }
    75%,100% {
        filter: url(#blur5);
        transform: scale(1.35, 1);
    }

}
.do-tans {
    animation: motion-blur 0.4s linear forwards,
            motion-blur 0.8s linear reverse forwards 0.8s; 
    @include small{
        display: none !important;
    }
    @include xSmall{
        display: none !important;
    }
}
