.news-details-header{
    background-image: url('../img/content-bg.png');
    background-position: center;
    background-size: cover;
    min-height: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    @include large{
        min-height: 490px;
    }
    @include medium{
        min-height: 400px;
    }
    @include small{
        min-height: 400px;
    }
    @include xSmall{
        min-height: 450px;
    }
    @include xxSmall{
        min-height: 450px;
    }
    .header-info{
        color: $whiteColor;
        padding-inline-start: 118px;
        @include xLarge{
            padding-inline-start: 100px;
        }
        @include large{
            padding-inline-start: 90px;
        }
        @include medium{
            padding-inline-start: 70px;
        }
        @include small{
            padding-inline-start: 30px;
        }
        @include xSmall{
            padding-inline-start: 20px;
            margin-top: 25px;
        }
        .breadcrumb{
            @include medium{
                font-size: 17px;
                padding: 0;
            }
            @include small{
                font-size: 17px;
                padding: 0;
            }
            @include xSmall{
                font-size: 13px;
                padding: 0;
            }
            li{
                @include xxSmall{
                    padding-left: 4px;
                }
                a{
                    text-decoration: none;
                    color: #FFF;
                }
            }
        }
        .heading{
            text-transform: capitalize;
            font-size: 62px;
            font-family: $CenturyGothic_bold;
            margin-bottom: 65px;
            @include large{
                font-size: 55px;
            }
            @include medium{
                font-size: 50px;
                margin-bottom: 25px;
            }
            @include small{
                font-size: 45px;
                margin-bottom: 20px;
            }
            @include xSmall{
                font-size: 40px;
                margin-bottom: 0;
            }
            @include xxSmall{
                font-size: 28px;
                margin-bottom: 0;
            }
        }
    }
}
.news-details-container{
    background-image: url('../img/visitors-bg.png');
    background-position: center;
    background-size: cover;
    padding-inline-start: 220px;
    padding-inline-end: 220px;
    padding-top: 50px;
    padding-bottom: 100px;
    @include xLarge{
        padding-inline-start: 100px;
        padding-inline-end: 100px;
    }
    @include large{
        padding-inline-start: 70px;
        padding-inline-end: 70px;
    }
    @include medium{
        padding-inline-start: 50px;
        padding-inline-end: 50px;
    }
    @include small{
        padding-inline-start: 30px;
        padding-inline-end: 30px;
    }
    @include xSmall{
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    }
    .title{
        font-size: 17px;
        color: $sandriftColor;
        margin-bottom: 25px;
    }
    .news-details-slider{
        .news-item{
            img{
                max-width: 99.5%;
                margin: 0 auto;
            }
        }
        .slick-dots {
            bottom: -55px;
            display: block;
            width: fit-content;
            right: 40px;
            @include small{
                right: 20px;
            }
            @include xSmall{
                right: 10px;
            }
            @include xxSmall{
                bottom: -35px;
                right: 0;
            }
            li {
                @include xxSmall{
                    width: 12px;
                    height: 12px;                
                }
                button{
                    color: $sandriftColor;
                    border: 2px solid $sandriftColor;
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                    padding: 0;
                    @include small{
                        width: 10px;
                        height: 10px;
                    }
                    @include xSmall{
                        width: 10px;
                        height: 10px;
                    }
                    &:before {
                        display: none;
                    }
                }
                &.slick-active{
                    button{
                        background-color: $sandriftColor;
                        width: 16px;
                        height: 16px;
                        @include small{
                            width: 13px;
                            height: 13px;
                        }
                        @include xSmall{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
    span{
        color: #818181;
        text-transform: uppercase;
        font-size: 17px;
    }
    .heading{
        margin: 20px 0;
        font-size: 30px;
        color: #000;
        font-weight: bold;
        @include small{
            font-size: 23px;
        }
        @include xSmall{
            font-size: 21px;
        }
        @include xxSmall{
            font-size: 19px;
        }
    }
    p{
        font-size: 18px;
        color: rgba(23, 24, 30, .48);
        margin-bottom: 20px;
    }
}