.news-events-header{
    background-image: url('../img/content-bg.png');
    background-position: center;
    background-size: cover;
    min-height: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    @include xSmall{
        min-height: 600px;
    }
    @include xxSmall{
        min-height: 500px;
    }
    .header-info{
        color: $whiteColor;
        padding-inline-start: 118px;
        @include xLarge{
            padding-inline-start: 100px;
        }
        @include large{
            padding-inline-start: 90px;
        }
        @include medium{
            padding-inline-start: 70px;
        }
        @include small{
            padding-inline-start: 30px;
        }
        @include xSmall{
            padding-inline-start: 20px;
        }
        .heading{
            text-transform: capitalize;
            font-size: 62px;
            font-family: $CenturyGothic_bold;
            margin-bottom: 65px;
            @include large{
                font-size: 55px;
            }
            @include medium{
                font-size: 55px;
            }
            @include small{
                font-size: 50px;
                margin-bottom: 45px;
            }
            @include xSmall{
                font-size: 40px;
                margin-bottom: 40px;
            }
            @include xxSmall{
                font-size: 28px;
                margin-bottom: 20px;
            }
        }
        p{
            width: 60%;
            font-size: 18px;
            @include xSmall{
                width: 100%;
            }
            @include xxSmall{
                font-size: 15px;
            }
        }
    }
}

.events-container{
    .current-events{
        background-image: url('../img/current-events-pattern.png');
        background-position: center;
        background-size: cover;
        padding-inline-start: 118px;
        padding-inline-end: 118px;
        padding-top: 100px;
        padding-bottom: 100px;
        @include xLarge{
            padding-inline-start: 100px;
            padding-inline-end: 100px;
        }
        @include large{
            padding-inline-start: 90px;
            padding-inline-end: 90px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include medium{
            padding-inline-start: 70px;
            padding-inline-end: 70px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include small{
            padding-inline-start: 30px;
            padding-inline-end: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include xSmall{
            padding-inline-start: 20px;
            padding-inline-end: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .header-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include xxSmall{
                flex-direction: column;
            }
            .heading{
                font-size: 65px;
                color: black;
                @include large{
                    font-size: 55px;
                }
                @include medium{
                    font-size: 40px;
                }
                @include small{
                    font-size: 35px;
                }
                @include xSmall{
                    font-size: 25px;
                }
                @include xxSmall{
                    margin-bottom: 22px;
                }
            }
            .explore{
                width: 210px;
                text-transform: uppercase;
                color: $whiteColor;
                background-color: $sandriftColor;
                height: 50px;
                line-height: 50px;
                padding: 0;
                border: 1px solid $sandriftColor;
                text-align: center;
                text-decoration: none;
                font-size: 20px;
                @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                @include medium{
                    width: 180px;
                    height: 47px;
                    line-height: 47px;
                    font-size: 18px;
                }
                @include small{
                    width: 150px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                }
                @include xSmall{
                    width: 135px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                }
                &:hover{
                    background-color: transparent;
                    color: $sandriftColor;
                }
            }
        }
        .current-events-slider{
            margin-top: 50px;
            .current-item{
                padding: 20px;
                text-decoration: none;
                @include large{
                    padding: 10px;
                }
                @include small{
                    padding: 10px;
                }
                @include xSmall{
                    padding: 10px;
                }
                img{
                    max-width: 100%;
                    margin-bottom: 25px;
                }
                span{
                    color: #4A4A4A;
                    font-size: 20px;
                    font-family: $CenturyGothic_bold;
                    text-transform: uppercase;
                    @include large{
                        font-size: 17px;
                    }
                    @include medium{
                        font-size: 17px;
                    }
                    @include small{
                        font-size: 15px;
                    }
                    @include xSmall{
                        font-size: 17px;
                    }
                }
                p{
                    color: $sandriftColor;
                    font-size: 20px;
                    font-family: $CenturyGothic_bold;
                    text-transform: uppercase;
                    @include large{
                        font-size: 17px;
                    }
                    @include medium{
                        font-size: 17px;
                    }
                    @include small{
                        font-size: 15px;
                    }
                    @include xSmall{
                        font-size: 17px;
                    }
                }
            }
        }
        .progress {
            display: block;
            width: 97%;
            height: 7px;
            margin: 0 auto;
            margin-top: 55px;
            overflow: hidden;
            border-radius: 0;
            background-color: #a6867685;
            background-image: linear-gradient(to right, $sandriftColor, $sandriftColor);
            background-repeat: no-repeat;
            background-size: 15% 100%;
            transition: background-size .4s ease-in-out;
            @include xSmall{
                margin-top: 25px;
            }
        }
    }
    .upcoming-events{
        background-image: url('../img/services-bg.png');
        background-position: center;
        background-size: cover;
        padding-inline-start: 118px;
        padding-inline-end: 118px;
        padding-top: 100px;
        padding-bottom: 100px;
        @include xLarge{
            padding-inline-start: 100px;
            padding-inline-end: 100px;
        }
        @include large{
            padding-inline-start: 90px;
            padding-inline-end: 90px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include medium{
            padding-inline-start: 70px;
            padding-inline-end: 70px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include small{
            padding-inline-start: 30px;
            padding-inline-end: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include xSmall{
            padding-inline-start: 20px;
            padding-inline-end: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .header-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include xxSmall{
                flex-direction: column;
            }
            .heading{
                font-size: 65px;
                color: $whiteColor;
                @include large{
                    font-size: 55px;
                }
                @include medium{
                    font-size: 40px;
                }
                @include small{
                    font-size: 40px;
                }
                @include xSmall{
                    font-size: 25px;
                }
                @include xxSmall{
                    margin-bottom: 22px;
                }
            }
            .explore{
                width: 210px;
                text-transform: uppercase;
                color: $whiteColor;
                background-color: #313131;
                height: 50px;
                line-height: 50px;
                padding: 0;
                border: 1px solid #313131;
                text-align: center;
                text-decoration: none;
                font-size: 20px;
                @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                @include medium{
                    width: 180px;
                    height: 47px;
                    line-height: 47px;
                    font-size: 18px;
                }
                @include small{
                    width: 150px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                }
                @include xSmall{
                    width: 135px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                }
                &:hover{
                    background-color: transparent;
                    color: #313131;
                }
            }
        }
        .upcoming-events-slider{
            margin-top: 50px;
            .upcoming-item{
                padding: 20px;
                text-decoration: none;
                @include small{
                    padding: 10px;
                }
                @include xSmall{
                    padding: 10px;
                }
                img{
                    max-width: 100%;
                    margin-bottom: 25px;
                }
                span{
                    color: #FFF;
                    font-size: 20px;
                    font-family: $CenturyGothic_bold;
                    text-transform: uppercase;
                    @include medium{
                        font-size: 17px;
                    }
                    @include small{
                        font-size: 15px;
                    }
                    @include xSmall{
                        font-size: 17px;
                    }
                }
                p{
                    color: #ffffff82;
                    font-size: 20px;
                    font-family: $CenturyGothic_bold;
                    text-transform: uppercase;
                    @include medium{
                        font-size: 17px;
                    }
                    @include small{
                        font-size: 15px;
                    }
                    @include xSmall{
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .previous-events{
        background-image: url('../img/current-events-pattern.png');
        background-position: center;
        background-size: cover;
        padding-inline-start: 118px;
        padding-inline-end: 118px;
        padding-top: 100px;
        padding-bottom: 100px;
        @include xLarge{
            padding-inline-start: 100px;
            padding-inline-end: 100px;
        }
        @include large{
            padding-inline-start: 90px;
            padding-inline-end: 90px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include medium{
            padding-inline-start: 70px;
            padding-inline-end: 70px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include small{
            padding-inline-start: 30px;
            padding-inline-end: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include xSmall{
            padding-inline-start: 20px;
            padding-inline-end: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .header-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include xxSmall{
                flex-direction: column;
            }
            .heading{
                font-size: 65px;
                color: black;
                @include large{
                    font-size: 55px;
                }
                @include medium{
                    font-size: 40px;
                }
                @include small{
                    font-size: 35px;
                }
                @include xSmall{
                    font-size: 25px;
                }
                @include xxSmall{
                    margin-bottom: 22px;
                }
            }
            .explore{
                width: 210px;
                text-transform: uppercase;
                color: $whiteColor;
                background-color: $sandriftColor;
                height: 50px;
                line-height: 50px;
                padding: 0;
                border: 1px solid $sandriftColor;
                text-align: center;
                text-decoration: none;
                font-size: 20px;
                @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                @include medium{
                    width: 180px;
                    height: 47px;
                    line-height: 47px;
                    font-size: 18px;
                }
                @include small{
                    width: 150px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                }
                @include xSmall{
                    width: 135px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                }
                &:hover{
                    background-color: transparent;
                    color: $sandriftColor;
                }
            }
        }
        .previous-events-slider{
            margin-top: 50px;
            .previous-item{
                padding: 20px;
                text-decoration: none;
                @include large{
                    padding: 10px;
                }
                @include small{
                    padding: 10px;
                }
                @include xSmall{
                    padding: 10px;
                }
                img{
                    max-width: 100%;
                    margin-bottom: 25px;
                }
                span{
                    color: #4A4A4A;
                    font-size: 20px;
                    font-family: $CenturyGothic_bold;
                    text-transform: uppercase;
                    @include large{
                        font-size: 17px;
                    }
                    @include medium{
                        font-size: 17px;
                    }
                    @include small{
                        font-size: 15px;
                    }
                    @include xSmall{
                        font-size: 17px;
                    }
                }
                p{
                    color: $sandriftColor;
                    font-size: 20px;
                    font-family: $CenturyGothic_bold;
                    text-transform: uppercase;
                    @include large{
                        font-size: 17px;
                    }
                    @include medium{
                        font-size: 17px;
                    }
                    @include small{
                        font-size: 15px;
                    }
                    @include xSmall{
                        font-size: 17px;
                    }
                }
            }
        }
        .progress {
            display: block;
            width: 97%;
            height: 7px;
            margin: 0 auto;
            margin-top: 55px;
            overflow: hidden;
            border-radius: 0;
            background-color: #a6867685;
            background-image: linear-gradient(to right, $sandriftColor, $sandriftColor);
            background-repeat: no-repeat;
            background-size: 15% 100%;
            transition: background-size .4s ease-in-out;
            @include xSmall{
                margin-top: 25px;
            }
        }
    }
}