.search-results-header{
    background-image: url('../img/search-results.png');
    background-position: center;
    background-size: cover;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    @include small{
        min-height: 400px;
        background-position: right;
    }
    @include xSmall{
        min-height: 500px;
        background-position: right;
    }
    @include xxSmall{
        min-height: 400px;
    }
    .header-info{
        color: $whiteColor;
        padding-inline-start: 118px;
        @include xLarge{
            padding-inline-start: 100px;
        }
        @include large{
            padding-inline-start: 90px;
        }
        @include medium{
            padding-inline-start: 70px;
        }
        @include small{
            padding-inline-start: 30px;
        }
        @include xSmall{
            padding-inline-start: 20px;
            margin-bottom: 100px;
        }
        .breadcrumb{
            li{
                a{
                    text-decoration: none;
                    color: #FFF;
                }
            }
        }
        .heading{
            text-transform: capitalize;
            font-size: 62px;
            font-family: $CenturyGothic_bold;
            margin-bottom: 130px;
            @include large{
                font-size: 55px;
            }
            @include medium{
                font-size: 55px;
            }
            @include small{
                font-size: 45px;
                margin-bottom: 100px;            
            }
            @include xSmall{
                font-size: 35px;
                margin-bottom: 40px;
            }
            @include xxSmall{
                font-size: 28px;
                margin-bottom: 20px;
            }
        }
    }
}
.search-results-container{
    background-image: url('../img/visitors-bg.png');
    background-position: center;
    background-size: cover;
    padding-inline-start: 240px;
    padding-inline-end: 240px;
    padding-bottom: 20px;
    @include xLarge{
        padding-inline-start: 150px;
        padding-inline-end: 150px;
    }
    @include large{
        padding-inline-start: 70px;
        padding-inline-end: 70px;
    }
    @include medium{
        padding-inline-start: 50px;
        padding-inline-end: 50px;
    }
    @include small{
        padding-inline-start: 30px;
        padding-inline-end: 30px;
    }
    @include xSmall{
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    }
    .search-box{
        margin-top: -50px;
        position: relative;
        @include xxSmall{
            margin-top: -30px;
        }
        svg{
            position: absolute;
            top: 33%;
            left: 50px;
            fill: #7171718c;
            @include small{
                left: 30px;
            }
            @include xSmall{
                left: 15px;
                width: 25px;
            }
            @include xxSmall{
                left: 8px;
                width: 17px;
                top: 29%;
            }
        }
        .search-input{
            height: 100px;
            width: 100%;
            padding-inline-start: 100px;
            padding-inline-end: 214px;
            outline: none;
            border: none;
            font-size: 21px;
            @include prefixer(box-shadow, 0px 0px 20px 12px rgba(0, 0, 0, .22), webkit moz ms o);
            &::placeholder{
                color: #7171718c;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 21px;
                @include xSmall{
                    font-size: 18px;
                }
                @include xxSmall{
                    font-size: 14px;
                }
            }
            @include small{
                height: 88px;
                padding-inline-start: 85px;
                padding-inline-end: 164px;
                font-size: 19px;
            }
            @include xSmall{
                height: 70px;
                padding-inline-start: 55px;
                padding-inline-end: 134px;
                font-size: 19px;
            }
            @include xxSmall{
                height: 55px;
                padding-inline-start: 35px;
                padding-inline-end: 80px;
                font-size: 16px;
            }
        }
        .search-btn{
            position: absolute;
            right: 10px;
            top: 15px;        
            background-color: $sandriftColor;
            color: #FFF;
            width: 200px;
            height: 70px;
            border-radius: 0;
            font-size: 21px;
            font-family: 'Poppins', sans-serif;
            border: 1px solid $sandriftColor;
            font-weight: 500;
            @include prefixer(transition, all .4s ease-in-out, webkit moz ms o); 
            @include small{
                width: 150px;
                height: 60px;
            }
            @include xSmall{
                width: 120px;
                height: 44px;
                top: 13px;
                font-size: 19px;
            }
            @include xxSmall{
                width: 67px;
                padding: 0;
                height: 38px;
                right: 5px;
                top: 9px;
                font-size: 14px;
            }
            &:hover{
                color: $sandriftColor;
                background-color: transparent;
                border: 1px solid $sandriftColor;
            }
        }
    }
    .not-found{
        padding: 90px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            padding-bottom: 50px;
        }
        p{
            font-size: 30px;
            font-weight: bold;
            color: #7171718c;
            @include small{
                font-size: 22px;
            }
            @include xSmall{
                font-size: 19px;
            }
            strong{
                color: #17181E;
            }
        }
    }
    .buttons-group{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        margin-bottom: 70px;
        @include xSmall{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        @include xxSmall{
            flex-wrap: wrap;
        }
        .filter-btn{
            border: 2px solid $sandriftColor;
            color: $sandriftColor;
            font-size: 21px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            min-width: 22%;
            border-radius: 0;
            height: 55px;
            @include prefixer(transition, all .4s ease-in-out, webkit moz ms o); 
            @include small{
                font-size: 17px;
                height: 48px;
            }
            @include xSmall{
                min-width: 18%;
                font-size: 13px;
                height: 44px;
            }
            @include xxSmall{
                min-width: 48%;
                font-size: 13px;
                margin-top: 10px;
            }
            &.active{
                background-color: #17181E;
                color: #FFF;
                border: 2px solid #17181E;
            }
            &:hover{
                background-color: #17181E;
                color: #FFF;
                border: 2px solid #17181E;
            }
        }
    }
}
.results-container{
    padding-bottom: 60px;
    background-image: url('../img/visitors-bg.png');
    padding-inline-end: 80px;
    @include xLarge{
        padding-inline-end: 50px;
    }
    @include large{
        padding-inline-end: 30px;
    }
    @include medium{
        padding-inline-end: 10px;
    }
    @include small{
        padding-inline-end: 10px;
    }
    @include xSmall{
        padding-inline-end: 10px;
    }
    & > div{
        max-height: 355px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 10px;
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            background: transparent; 
        }
        &::-webkit-scrollbar-thumb {
            background-color: #e1e1e1; 
            border-radius: 2px;
        }
    }
    .results{
        margin-bottom: 40px;
        padding-inline-start: 240px;
        padding-inline-end: 145px;
        @include xLarge{
            padding-inline-end: 85px;
            padding-inline-start: 150px;
        }
        @include large{
            padding-inline-start: 70px;
            padding-inline-end: 10px;
        }
        @include medium{
            padding-inline-start: 50px;
            padding-inline-end: 10px;
        }
        @include small{
            padding-inline-start: 30px;
            padding-inline-end: 10px;
        }
        @include xSmall{
            padding-inline-start: 20px;
            padding-inline-end: 10px;
        }
        h5{
            font-size: 30px;
            font-weight: bold;
            color: #17181E;
            @include small{
                font-size: 27px;
            }
            @include xSmall{
                font-size: 25px;
            }
            @include xxSmall{
                font-size: 21px;
            }
        }
        p{
            font-size: 20px;
            font-weight: bold;
            color: #7171718c;
            @include small{
                font-size: 18px;
            }
            @include xSmall{
                font-size: 17px;
            }
            @include xxSmall{
                font-size: 15px;
            }
        }
    }
}