{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}


<!--_________________________________________-->

{% include 'partial/header.html' %}
{% include 'partial/Vision & Mission.html' %}
{% include 'partial/polls.html' %}
{% include 'partial/Start Our Services.html' %}
{% include 'partial/Latest News.html' %}
{% include 'partial/Site visitors.html' %}
{% include 'partial/Friendly Sites.html' %}





<!--{% for c in self.banner %}-->
<!--    {{ c.value.title }}-->
<!--    {{c.value.image.url}}-->
<!--    {{c.value.subtitle}}-->
<!--{%endfor%}-->


<!--_______________________________________-->
<!--<div class="jumbotron"-->
<!--     style="background-image: url('{{ img.url }}'); min-height: 400px; height: 40vh; background-size: cover; background-position: center top; display: flex; flex-direction: column; justify-content: center;">-->
<!--    <h1 class="display-4">{{ self.banner_title }}</h1>-->
<!--    <div class="lead">{{ self.banner_subtitle|richtext }}</div>-->
<!--    {% if self.banner_cta %}-->
<!--    <a class="btn btn-primary btn-lg" href="#" role="button">@todo</a>-->
<!--    {% endif %}-->
<!--</div>-->

<!--{# Example of an Orderable from home/models.py #}-->
<!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
<!--    <div class="carousel-inner">-->
<!--        {% for loop_cycle in self.carousel_images.all %}-->
<!--        {% image loop_cycle.carousel_image fill-900x400 as img %}-->
<!--        <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">-->
<!--            <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
<!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--        <span class="sr-only">Previous</span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
<!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--        <span class="sr-only">Next</span>-->
<!--    </a>-->
<!--</div>-->

{% for block in page.content %}
{% include_block block %}
{% endfor %}
{% endblock %}
