footer{
    color: $whiteColor;
    .top-part{
        background-image: url('../img/footer-top.png');
        background-size: cover;
        background-position: center;
        padding: 20px 230px;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        @include xLarge{
            padding: 20px 100px;
        }
        @include large{
            padding: 20px 50px;
        }
        @include medium{
            padding: 20px 50px;
        }
        @include small{
            padding: 20px 50px;
        }
        @include xSmall{
            padding: 20px;
        }
        .sm-order{
            @include medium{
                order: 4;
            }
            @include small{
                order: 4;
            }
        }
        .heading{
            font-family: $CenturyGothic_bold;
            font-size: 18px;
            text-transform: uppercase;
            @include small{
                margin-top: 10px;
            }
            @include xSmall{
                margin-top: 15px;
            }
            @include xxSmall{
                font-size: 16px;
            }
        }
        ul{
            li{
                margin-top: 15px;
                font-size: 16px;
                @include large{
                    font-size: 15px;
                }
                @include small{
                    font-size: 14px;
                }
                @include xxSmall{
                    font-size: 14px;
                }
                &.working-hours{
                    position: relative;
                    padding-inline-start: 30px;
                    @include xxSmall{
                        padding-inline-start: 20px;
                    }
                    &:before{
                        content: "\f017";
                        font-size: 20px;
                        color: #FFF;
                        font-family: 'FontAwesome';
                        position: absolute;
                        left: 0;
                        @include xxSmall{
                            font-size: 15px;
                        }
                    }
                }
                &.hotline{
                    position: relative;
                    padding-inline-start: 30px;
                    @include xxSmall{
                        padding-inline-start: 20px;
                    }
                    &:before{
                        content: "\f095";
                        font-size: 20px;
                        color: #FFF;
                        font-family: 'FontAwesome';
                        position: absolute;
                        left: 0;
                        @include xxSmall{
                            font-size: 15px;
                        }
                    }
                }
                span{
                    display: block;
                    &.days{
                        padding-top: 10px;
                    }
                }
                a{
                    text-decoration: none;
                    color: $whiteColor;
                    text-transform: capitalize;
                    @include prefixer (transition, all .5s ease-in-out, webkit moz o);
                    &:hover{
                        opacity: .5;
                    }
                }
            }
        }
    }
    .bottom-part{
        background-image: url('../img/footer-bottom.png');
        background-size: cover;
        background-position: center;
        padding: 20px 230px;
        @include xLarge{
            padding: 20px 100px;
        }
        @include large{
            padding: 20px 50px;
        }
        @include medium{
            padding: 20px 50px;
        }
        @include small{
            padding: 20px 50px;
        }
        @include xSmall{
            padding: 20px;
        }
        .order{
            @include xSmall{
                order: 1;
            }
        }
        .heading{
            font-family: $CenturyGothic_bold;
            font-size: 18px;
            text-transform: uppercase;
            @include medium{
                margin-top: 20px;
            }
            @include small{
                margin-top: 20px;
            }
            @include xSmall{
                margin-top: 15px;
            }
            @include xxSmall{
                font-size: 16px;
            }
        }
        form{
            .email{
                box-shadow: none;
                background-color: transparent;
                color: $whiteColor;
                width: 70%;
                border-radius: 0;
                outline: none;
                border: 1px solid #FFF !important;
                margin-top: 20px;
                &::placeholder{
                    color: $whiteColor;
                    font-size: 15px;
                }
            }
            .go{
                display: block;
                width: 85px;
                height: 35px;
                line-height: 35px;
                background-color: #313131;
                color: $whiteColor;
                padding: 0;
                text-transform: uppercase;
                border-radius: 0;
                margin-top: 20px;
                font-size: 15px;
                font-family: $CenturyGothic_bold;
                border: 1px solid #313131;
                @include prefixer (transition, all .3s ease-in-out, webkit moz o);
                &:hover{
                    color: #313131;
                    background-color: transparent;
                }
            }
        }
        ul{
            li{
                margin-top: 15px;
                a{
                    text-decoration: none;
                    color: $whiteColor;
                    text-transform: capitalize;
                    @include prefixer (transition, all .5s ease-in-out, webkit moz o);
                    &:hover{
                        opacity: .5;
                    }
                }
            }
        }
    }
}

.copyright{
    padding: 20px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #313131;
    @include xLarge{
        padding: 20px 100px;
    }
    @include large{
        padding: 20px 50px;
        font-size: 17px;
    }
    @include medium{
        padding: 20px 50px;
        font-size: 15px;
    }
    @include small{
        padding: 20px 30px;
        font-size: 12px;
    }
    @include xSmall{
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    }
    a{
        text-transform: uppercase;
        text-decoration: none;
        font-family: $CenturyGothic_bold;
        color: #313131;
    }
}