@font-face {
    font-family: 'CenturyGothic';
    src:    url('../lib/fonts/CenturyGothic/CenturyGothic.woff2') format('woff2'),
            url('../lib/fonts/CenturyGothic/CenturyGothic.woff') format('woff');
}
@font-face {
    font-family: 'CenturyGothic-Bold';
    src:    url('../lib/fonts/CenturyGothic/CenturyGothic-Bold.woff2') format('woff2'),
            url('../lib/fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff');
}
@font-face {
    font-family: 'JFFLAT';
    src:    url('../lib/fonts/JFFlat/JFFlat-Regular.woff2') format('woff2'),
            url('../lib/fonts/JFFlat/JFFlat-Regular.woff') format('woff');
}
body{
    margin: 0;
    padding: 0;
    font-family: $CenturyGothic;
    overflow-x: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.btn:focus{
    box-shadow: none;
}
.navbar{
    color: $whiteColor;
    padding-left: 0;
    padding-right: 0;
    @include xSmall{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-brand{
        padding-inline-start: 110px;
        @include xLarge{
            padding-inline-start: 50px;
        }
        @include large{
            padding-inline-start: 50px;
        }
        @include medium{
            padding-inline-start: 50px;
        }
        @include small{
            padding-inline-start: 0;
        }
        @include xSmall{
            padding-inline-start: 30px;
        }
        img{
            width: 400px;
            @include prefixer (transition, all .5s ease-in-out, webkit moz o);
            @include xLarge{
                width: 300px;
            }
            @include large{
                width: 250px;
            }
            @include medium{
                width: 230px;
            }
            @include small{
                width: 200px;
            }
            @include xSmall{
                width: 220px;
            }
        }
    }
    .navbar-nav{
        flex-direction: row;
        align-items: center;
        @include small{
            width: auto;
            justify-content: center;
        }
        @include xSmall{
            width: 100%;
            justify-content: center;
        }
        .nav-item{
            &#openMenu{
                @include small{
                    width: 150px;
                }
            }
            .nav-link{
                color: $whiteColor;
                font-size: 24px;
                @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                .login-icon{
                    width: 24px;
                    @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                    @include large{
                        width: 20px;
                    }
                    @include xSmall{
                        width: 20px;
                    }
                    &:hover{
                        opacity: .5;
                    }
                }
                &.lang{
                    font-family: $Jfflat;
                    font-size: 19px;
                    &:hover{
                        opacity: .5;
                    }
                }
                &.search{
                    padding-left: 50px;
                    padding-right: 50px;
                    position: relative;
                    @include medium{
                        padding-left: 60px;
                        padding-right: 30px;
                    }
                    @include xxSmall{
                        padding-left: 60px;
                        padding-right: 25px;
                    }
                    &:before{
                        content: '';
                        display: block;
                        height: 15px;
                        width: 1px;
                        background-color: #fff;
                        position: absolute;
                        top: 40%;
                        left: 25px;
                        @include medium{
                            left: 15px;
                        }
                        @include xxSmall{
                            left: 13px
                        }
                    }
                    &:after{
                        content: '';
                        display: block;
                        height: 15px;
                        width: 1px;
                        background-color: #fff;
                        position: absolute;
                        top: 40%;
                        right: 25px;
                        @include medium{
                            right: 15px;
                        }
                        @include xxSmall{
                            right: 13px
                        }
                    }
                    .search-icon{
                        width: 24px;
                        @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                        @include large{
                            width: 20px;
                        }
                        @include xSmall{
                            width: 20px;
                        }
                        &:hover{
                            opacity: .5;
                        }
                    }
                }
                &.menu{
                    width: 280px;
                    height: 58px;
                    background-color: $sandriftColor;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    margin-inline-start: 35px;
                    margin-inline-end: 50px;
                    border: 1px solid $sandriftColor;
                    @include prefixer (transition, all .5s ease-in-out, webkit moz o);
                    @include xLarge{
                        font-size: 21px;
                        width: 240px;
                        height: 54px;
                    }
                    @include large{
                        width: 210px;
                        height: 52px;
                        font-size: 20px;
                    }
                    @include medium{
                        width: 160px;
                        height: 48px;
                        font-size: 15px;
                        margin-inline-start: 25px;
                    }
                    @include small{
                        width: 112px;
                        height: 36px;
                        font-size: 13px;
                        position: absolute;
                        top: 20px;
                        right: 0;
                        margin: 0;
                        margin-inline-end: 10px;
                    }
                    @include xSmall{
                        width: 135px;
                        height: 43px;
                        font-size: 14px;
                        margin: 0;
                        margin-inline-start: 10px;
                    }
                    @include xxSmall{
                        width: 120px;
                        height: 40px;
                        font-size: 12px;
                    }
                    &:hover{
                        background-color: transparent;
                    }
                    .menu-icon{
                        width: 45px;
                        padding-inline-start: 18px;
                        @include medium{
                            width: 40px;
                        }
                        @include small{
                            width: 30px;
                            padding-inline-start: 9px;
                        }
                        @include xSmall{
                            width: 39px;
                        }
                        @include xxSmall{
                            width: 35px;
                            padding-inline-start: 9px;
                        }
                    }
                }
            }
            &.search-item{
                position: relative;
                @include xSmall{
                    position: static;
                }
                .search-toggle{
                    span{
                        &:after{
                            position: absolute;
                            right: 40%;
                            top: 0;
                            content: '';
                            background-image: url('../img/search-icon.png');
                            background-size: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 22px;
                            height: 22px;
                            cursor: pointer;
                        }
                        &.active{
                            &:after{
                                background-image: url('../img/close.png');
                                width: 19px;
                                height: 19px;
                            }
                        }
                    }
                }
                .search-box{
                    position: absolute;
                    top: -8px;
                    right: 70px;
                    @include xSmall{
                        top: 140px;
                        right: 10px;
                        left: 10px;
                        width: 90%;
                    }
                    .search-input{
                        height: 40px;
                        width: 0;
                        padding: 0;
                        border: none;
                        outline: none;
                        border-radius: 4px;
                        @include prefixer(transition, all .5s ease-in-out, webkit moz ms o); 
                        &.active{
                            width: 400px;
                            padding: 5px;
                            @include xLarge{
                                width: 365px;
                            }
                            @include large{
                                width: 365px;
                            }
                            @include medium{
                                width: 300px;
                            }
                            @include small{
                                width: 230px;
                            }
                            @include xSmall{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    /*affix class*/
    &.affix{
        background-color: rgba(0, 0, 0, .7);
        .navbar-brand{
            img{
                width: 200px;
                @include prefixer (transition, all .5s ease-in-out, webkit moz o);
            }
        }
    }
}
.overlay-menu{
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: -70px;
    width: 0;
    opacity: 0;
    z-index: 9999;
    background-color: $sandriftColor;
    transition: all .8s ease-in-out;
    // clip-path: polygon(93% 7%, 93% 8%, 93% 8%, 93% 7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.active-menu{
        width: 30%;
        opacity: 1;
        right: 0;
        @include large{
            width: 40%;
        }
        @include medium{
            width: 45%;
        }
        @include small{
            width: 55%;
        }
        @include xSmall{
            width: 65%;
        }
        @include xxSmall{
            width: 100%;
        }
    }
    ul{
        li{
            width: 100%;
            text-align: center;
            a{
                color: $whiteColor;
                text-transform: capitalize;
                text-decoration: none;
                font-size: 30px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 2;
                margin-bottom: 60px;
                text-transform: uppercase;
                @include prefixer(transition, all .4s ease-in-out, webkit moz ms o);
                @include xLarge{
                    font-size: 27px;
                }
                @include large{
                    font-size: 27px;
                }
                @include medium{
                    font-size: 24px;
                }
                @include small{
                    font-size: 23px;
                }
                @include xSmall{
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                &:hover{
                    opacity: .7;
                }
            }
            .sub-menu{
                display: none;
                li{
                    a{
                        font-size: 20px;
                        @include xSmall{
                            font-size: 16px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
            &.press-center-li{
                position: relative;
                &:after{
                    position: absolute;
                    right: -60px;
                    top: 0;
                    content: '';
                    background-image: url('../img/plus-icon.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    @include xSmall{
                        right: -50px;
                        width: 25px;
                        height: 25px;
                    }
                }
                &.active{
                    &:after{
                        background-image: url('../img/minus-icon.svg');;
                    }
                }
            }
        }
    }
    .close-icon{
        position: absolute;
        top: 65px;
        right: 61px;
        z-index: 3;
        cursor: pointer;
        @include xxSmall{
            top: 35px;
            right: 20px;
        }
        img{
            width: 30px;
            @include xxSmall{
                width: 25px;
            }
        }
    }
    .social-links{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 20px;
        li{
            padding: 0 20px;
            a{
                @include prefixer (transition, all .4s ease-in-out, webkit moz o);
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
