.loading-screen{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    img{
        @include xSmall{
            width: 220px;
        }
    }
}