<footer>
    <div class="top-part">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6 sm-order">
                <h4 class="heading">About QSA</h4>
                <ul class="list-unstyled">
                    <li class="working-hours">working hours :
                        <span class="days">Sunday-Thursday</span>
                        <span>07:30 Am To 02:30 PM</span>
                    </li>
                    <li class="hotline">Hotline 125
                        <span>Communicationsinfo@qsa.gov.kw</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4 class="heading">quick links</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Who Are We</a>
                    </li>
                    <li>
                        <a href="#">Mission and Vision</a>
                    </li>
                    <li>
                        <a href="#">Boards of Directors</a>
                    </li>
                    <li>
                        <a href="#">Excecutiv Managements</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">General Guidelines</a>
                    </li>
                    <li>
                        <a href="#">International Affairs</a>
                    </li>
                    <li>
                        <a href="#">Kuwait Natunal Figures</a>
                    </li>
                    <li>
                        <a href="#">Cypersecurity&Emeregency Response</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Disclamer</a>
                    </li>
                    <li>
                        <a href="#">Glossary</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Copyright</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-part">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6 order">
                <h4 class="heading">Subscribe to the newsletter</h4>
                <form>
                    <input class="form-control email" type="email" name="email" placeholder="youremail@qsa.com">
                    <button class="btn go">go</button>
                </form>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4 class="heading">Services</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Publications</a>
                    </li>
                    <li>
                        <a href="#">Competitions</a>
                    </li>
                    <li>
                        <a href="#">Conferences</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4 class="heading">Press Center</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">Press Tools</a>
                    </li>
                    <li>
                        <a href="#">The qsa Sector</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h4 class="heading">contact us</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">FAQs</a>
                    </li>
                    <li>
                        <a href="#">Recruitment</a>
                    </li>
                    <li>
                        <a href="#">Complaintsz</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <a href="#">Download QSA Mobile Application</a>
    <span>© 2021 QSA Kuwait, All Rights Reserved.</span>
</div>
