{%load wagtailimages_tags%}
<!--Start Friendly Sites Section-->
<div class="friendly-sites">
    <div class="header-info">
        <h3 class="heading">Friendly Sites</h3>
        <ul class="list-unstyled paging">
            <li id="prev-site" class="prev-slide">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </li>
            <li id="next-site" class="next-slide">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class="friendly-sites-slider">
        {% for loop_cycle in self.FriendlySites %}
        {% image loop_cycle.value.imgChooser width-3560 as img %}
        <a class="site-item" href="{{loop_cycle.value.outLinerLink}}">
            <img src="{{ img.url }}" alt="site">
            <span>{{loop_cycle.value.titled_link}}</span>
        </a>
       {%endfor%}
    </div>
</div>
<!--End Friendly Sites Section-->
