{%load static%}
<div class="overlay-menu">
	<span id="close_icon" class="close-icon">
		<img class="hvr-grow" src="{%static 'img/close.png'%} " alt="close">
	</span>
    <ul class="list-unstyled">
        <li>
            <a href="#">about us</a>
        </li>
        <li>
            <a href="#">services</a>
        </li>
        <li class="press-center-li">
            <a href="#" class="press-center-link">press center
            </a>
            <ul class="list-unstyled sub-menu">
                <li>
                    <a href="#">NEWS & EVENTS</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">contact us</a>
        </li>
    </ul>
    <ul class="list-unstyled social-links">
        <li>
            <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="twitter">
            <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>
<div class="loading-screen">
    <img src="{%static 'img/dark-logo.svg' %}" alt="logo" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">

</div>
{%load wagtailimages_tags%}

<!--Start Header Section-->
<svg id="Layer">
    <defs>
        <filter id="blur0">
            <feGaussianBlur in="SourceGraphic" stdDeviation="0 0"></feGaussianBlur>
        </filter>
        <filter id="blur1">
            <feGaussianBlur in="SourceGraphic" stdDeviation="5 0"></feGaussianBlur>
        </filter>
        <filter id="blur2">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10 0"></feGaussianBlur>
        </filter>
        <filter id="blur3">
            <feGaussianBlur in="SourceGraphic" stdDeviation="20 0"></feGaussianBlur>
        </filter>
        <filter id="blur4">
            <feGaussianBlur in="SourceGraphic" stdDeviation="30 1"></feGaussianBlur>
        </filter>
        <filter id="blur5">
            <feGaussianBlur in="SourceGraphic" stdDeviation="50 1"></feGaussianBlur>
        </filter>
    </defs>
</svg>

<div class="header-section">

    <div class="header-slider">

        {% for loop_cycle in self.banner %}
        {% image loop_cycle.value.carousel_image width-3560 as img %}

        <div class="item" style="background-image: url('{{ img.url }}');">
            <div class="slick-slider-dots"></div>
            <div class="slide-info">
                <h1 class="heading">{{loop_cycle.value.title}}</h1>
                <p>{{loop_cycle.value.subtitle}}</p>
            </div>
        </div>
        {%endfor%}

    </div>
    <div class="view-more">
        <a href="{{loop_cycle.view_more}}">view more</a>
    </div>
    <div class="paging-social">
        <div class="pagination">
            <div class="next-text">
                <span>next</span>
                <p>loop_cycle.next</p>
            </div>
            <ul class="list-unstyled paging">
                <li id="prev-slide" class="prev-slide">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                </li>
                <li id="next-slide" class="next-slide">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
        <ul class="list-unstyled social-links">
            <li>
                <a href="{{loop_cycle.facebook_link}}">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li class="twitter">
                <a href="{loop_cycle.twitter_link}}">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="{loop_cycle.instagram_link}}">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--End Header Section-->
