<!--Start Latest News Section-->
{%load wagtailimages_tags%}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="latest-news">
    <ul class="list-unstyled paging">
        <li id="prev-news" class="prev-slide">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </li>
        <li id="next-news" class="next-slide">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </li>
    </ul>
    <div class="row no-gutters padding">
        <div class="col-lg-6">
            <div class="lates-news-slider">
                {% for loop_cycle in self.LatestNews %}
                <div class="news-info">
                    <h2 class="heading"><a href="#">Latest News</a></h2>
                    <span> {{loop_cycle.value.date}} </span>
                    <h4><a href="{{loop_cycle.read_more}}">{{loop_cycle.value.title }}</a></h4>
                    <p> {{loop_cycle.value.subtitle | richtext }} </p>
                    <a href="{{loop_cycle.read_more}}" class="more">read more</a>
                </div>
                {%endfor%}

            </div>
            <div class="paging-container">
                <div class="slick-slider-dots1"></div>
                <div class="view-link">
                    <a href="{{ loop_cycle.view_all }}" class="view-all">view all<i class="fa fa-long-arrow-right"
                                                                                    aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="lates-news-slider-nav">
                {% for loop_cycle in self.LatestNews %}
                {% image loop_cycle.value.images width-3560 as img %}
                <a href="#" class="item">
                    <div class="fold" style="background: url('{{ img.url }}')">
                        <span class="first" style="background: url('{{ img.url }}')"></span>
                        <span class="sec" ></span>
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
<!--End Latest News Section-->
