{%load static wagtailuserbar%}
<nav class="navbar navbar-light fixed-top">
    <a href="#" class="navbar-brand">
        <img src='{% static "img/logo.png" %}' alt="logo">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="{%static 'img/login-icon.png'  %}" class="login-icon" alt="login">
            </a>
        </li>
        <li class="nav-item search-item">
            <a class="nav-link search search-toggle" href="#">
                <span id="search-icon" class="search-icon"></span>
            </a>
            <form class="search-box">
                <input type="text" class="text search-input" placeholder="Type here to search..."/>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link lang" href="#">العربية</a>
        </li>
        <li id="openMenu" class="nav-item">
            <a class="nav-link menu" href="#">our menu
                <img src='{%static "img/menu-icon.png" %}' class="menu-icon" alt="menu">
            </a>
        </li>
    </ul>
</nav>
