<!--Start Polls Section-->
{%load wagtailimages_tags%}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags %}


<div class="polls-section">
    <div class="content">
        <h3 class="heading">Polls</h3>
        {% for block in self.Polls %}
        <p>{{block.value.question}}</p>
        {%endfor%}
        <div class="radio-btns">
            <label class="radio-container">
                <input type="radio" checked="checked" name="vote">
                <span class="checkmark"></span>
                yes
            </label>
            <label class="radio-container">
                <input type="radio" name="vote">
                <span class="checkmark"></span>
                no
            </label>
        </div>

        <button id="vote" class="btn vote">vote</button>
        <div class="progress-section">
            yes
            <div class="progress">
                <div id="yes" class="color"></div>
            </div>
        </div>
        <div class="progress-section">
            no
            <div class="progress">
                <div id="no" class="color"></div>
            </div>
        </div>
    </div>
</div>
<!--End Polls Section-->
