<!--Start Site visitors Section-->
{%load wagtailimages_tags%}
{% load wagtailcore_tags wagtailimages_tags %}
{%load wagtailimages_tags%}
{%load static%}
{%load wagtailimages_tags%}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags %}


<div class="site-visitors-section">
    <h3 class="heading">Site Visitors Counter</h3>
    {%for block in self.Visitors %}
    <div class="visitors">
        <div class="visitors-count">
            <span class="count">{{block.value.Unknown}}</span>
            <span class="name">Unknown Visitors</span>
        </div>
        <div class="visitors-count">
            <span class="count">{{block.value.Online}}</span>
            <span class="name">Online Visitors</span>
        </div>
        <div class="visitors-count">
            <span class="count">{{block.value.Total}}</span>
            <span class="name">Total Visitors</span>
        </div>
    </div>
    {%endfor%}
</div>
<!--End Site visitors Section-->
