<!--Start Our Services Section-->
{%load wagtailimages_tags%}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="our-services">
    <h2 class="heading">our services</h2>
    <div id="wheel" class="services-slider">
        <ul class="items-container">
            {% for loop_cycle in self.OurService %}
            {% image loop_cycle.value.image width-3560 as img %}
            <li>
                <img src="{{ img.url }}" alt="service">
                <div class="slide-text">
                    <h4>Replace your quran</h4>
                    <p>{{loop_cycle.value.description | richtext }}</p>
                    <a href="{{loop_cycle.lets_start}}" class="lets-start">lets start</a>
                </div>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
<!--End Our Services Section-->
