{% load wagtailcore_tags wagtailimages_tags %}
{%load wagtailimages_tags%}
{%load static%}
{%load wagtailimages_tags%}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags %}


<!--Start Vision & Mission Section-->
<div class="vision-mission-section">
    {% for block in self.Visions %}
    <div class="row no-gutters">

        <div class="col-lg-5">
            <div class="vision-mission-info">
                <h2 class="heading">Vision & Mission</h2>

                <p>

                    {% include_block block.value.text %}

                </p>


                <a href="{{self.visions.explore_more}}" class="explore">explore more</a>
            </div>
        </div>

        <div class="col-lg-7">
            {% image block.value.img1 width-3560 as img1 %}
            {% image block.value.img2 width-3560 as img2 %}
            {% image block.value.img3 width-3560 as img3 %}
            {% image block.value.img4 width-3560 as img4 %}
            <div class="images">
                <img src="{{ img3.url }}" class="img3" alt="Quran" data-aos="fade-up" data-aos-delay="200"
                     data-aos-duration="700">
                <img src="{{ img1.url }}" alt="Quran" data-aos="fade-up" data-aos-duration="700">
                <img src="{{ img2.url }}" class=" img2" alt="Quran" data-aos="fade-up" data-aos-duration="700">
            </div>

            <img src="{{ img4.url }}" class="img4" alt="Quran">
        </div>
    </div>
    {% endfor %}
</div>

<!--End Vision & Mission Section-->

